.ama{
    background-color: black;
  }


  body{
    background-color: grey;
  }
  .new{
    color: white;
  }
  .font-1{
    font-size: 13px;
  }
  .font-2{
    font-size: 15px;
  }

  .blaaa{
      background-color: black;
  }

  .gha{
    font-size: 12px;
  }

  .lin{
    margin-top: 5px;
  }
